# Environnement virtuel
venv/
*.venv/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# Fichiers temporaires
*.log
*.tmp

# Système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de configuration d'IDE / éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Autres fichiers/dossiers spécifiques
# Par exemple, si vous générez de la documentation en HTML
docs/_build/

# Caches divers
.cache/

# Fichiers des données
data/*
output/*